{% extends 'base.html.twig' %}

{% block title %}Reserva | Bike In Bed{% endblock %}
{% block description %}Esto es la reserva{% endblock %}
{% block keywords %}bicicleta, barcelona, alquilar{% endblock %}
{% block canonical %}{{ url('datosReserva') }}{% endblock %}

{% block id 'reserva' %}

{% block body %}
    <section>
        reserva
{#    con el attr le indicamos que descative la validacion de html5 para el formulario  #}
{#    {{ form(formulario, {'attr': {'novalidate': 'novalidate'}}) }}#}
    
    {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(formulario) }}
            <fiedset>
                <legend>Datos Reserva</legend>
                
                <div>
                    {{ form_label(formulario.fechaEntrega) }}                    
                    <div class="error">{{ form_errors(formulario.fechaEntrega) }} </div>                   
                    <span> {{ form_widget(formulario.fechaEntrega) }} </div>
                </div>
                {{ form_row(formulario.fechaRecogida) }}
                {{ form_row(formulario.direccionDeEntrega) }}
                {{ form_row(formulario.direccionDeRecogida) }}
                {{ form_row(formulario.clasicBike) }}
                {{ form_row(formulario.ebike) }}
                {{ form_row(formulario.biciDe110A125Cm) }}
                {{ form_row(formulario.biciDe125A135Cm) }}
                {{ form_row(formulario.biciDe135A150Cm) }}
                {{ form_row(formulario.sillitaNene) }}
            </fiedset>
        {{ form_end(formulario) }}
    </section>
{% endblock %}

