{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %} {% endblock %}
{% block javascripts %} {% endblock %}

{% block body %}
<header>
    <a href="{{ path('home') }}"><img alt="Logo" src="{{ asset('img/logo.jpeg') }}" width="100px" height="100px"></a>
    <h1><a href="{{ path('home') }}">Bike In Bed</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('reservaDatos') }}">reserva</a></li>
            <li><a href="{{ path('pagina',{ nombrePagina: 'tarifas'}) }}">tarifas</a></li>
            <li><a href="{{ path('pagina',{ nombrePagina: 'tour'}) }}">tour</a></li>
        </ul>
    </nav>
</header>
<article>
    {% block article %}{% endblock %}
</article>
{% endblock %}